<img src="assets/FE1.jpg" class="bg"> 
<nav class="navbar navbar-expand-sm " style="color:rgba(255, 255, 255, 0) ;">
    <ul class= "navbar-nav">
        <a routerLink=""  class="nav-link" style="color:rgb(0, 0, 0) ;" >HOME</a>
        <li class = "nav-item">
            <a routerLink="tourists" routerLinkActive="active" class="nav-link" style="color:rgb(0, 0, 0) ;">View tourist</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-tourist" routerLinkActive="active" class="nav-link" style="color:rgb(0, 0, 0) ;">Register tourist</a>
        </li>
    </ul>
</nav>

<h1 class="text-center" style="color:rgb(0, 0, 0) ;">{{title}}</h1>


<router-outlet></router-outlet>
